.dropdown-menu{
    max-height: initial;
    overflow: inital;
    position: absolute;
    left: 1rem;
    top: 3rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;
}

.dropdown_item:hover .dropdown-menu{
    opacity: 1;
    top:2.5rem;
    color: aqua;
    pointer-events:initial;
    transition: top .3s;

}

